﻿body, html {
	margin: 0;
	padding: 10px;
	background-color: transparent;
    font-family: 'IRANYekan_Light';
	font-size: medium;
}

@font-face {
    font-family: 'IRANYekan_Light';
    src: url('file:///android_asset/fonts/vazir.ttf');
}

@media 
{
html, body {
	font-size: 1em;
}
}
@media 
{
html, body {
	font-size: 1.1em;
}
}
@media 
{
html, body {
	font-size: 1.3em;
}
}
body {
	margin: 0;
	padding: 0;
	direction: rtl;
	font-size: 1.4em;
}
p {
	text-align: center;
	font-size: 18px;
	color: #000000;
	font-family: Tahoma;
}
b {
	text-align: right;
	font-size: 18px;
	color: #0097a7;
	font-weight: bold;
}
div {
	text-align: right;
	font-size: 16px;
	color: #000000;
}


ul {
	color: #000000;
}
.error {
	border: orangered solid thick;
	background-color: yellow;
	-webkit-border-radius: 8px;
	margin: 10px;
}
.r {
	text-align: right;
}
table {
	border-collapse: collapse;
	border: 0;
}
table td {
    text-align: center;
    text-align: center;
    font-size: 16px;
    color: #000000;
    border: thin #9c8a73 solid;
    width: 33%;
}
table thead tr td{
	border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}


table tr td:first-child, table th tr td:first-child{
	border-right: 0;
}


table tr td:last-child , table th tr td:last-child{
	border-left: 0;
}


