body, html {
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color: transparent;
    font-family: 'IRANYekan_Light';
    font-size: medium;
}

@font-face {
    font-family: 'IRANYekan_Light';
    src: url('file:///android_asset/fonts/vazir.ttf');
}

@media all and (min-width: 400px) {
    html, body {
        font-size: 1em;
    }
}

@media all and (min-width: 600px) {
    html, body {
        font-size: 1.1em;
    }
}

@media all and (min-width: 1000px) {
    html, body {
        font-size: 1.3em;
    }
}

table {
    width: 100%;
    text-align: center;
    border: #ffffff solid 1px;
}

thead, tfoot {
    text-align: center;
    background-color: #80cbc4;
    padding: 8px;
    color: #ffffff;
    font-weight: bolder;
}

tbody tr {
    text-align: center;
    padding: 8px;
    color: #0f0f0f;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

td {
    white-space: normal;
}

.group_title {
    background-color: #b2dfdb !important;
    /*font-weight: bold;*/
    color: #ffffff;
    padding-top: 8px;
}
.copyright{
background-color:transparent;
font-size:14px;
padding:5px;
}

